.block-responsive
	display: block
	width: 100%

.block-embed
	position: relative
	padding-bottom: 56.25%
	padding-top: 30px
	height: 0
	overflow: hidden

	iframe,
	object,
	embed
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.block-pane
	+border-radius(3px)
	+box-sizing(border-box)

	position: relative
	padding: 15px
	border: 1px solid #ddd
	background: #eee
	line-height: 130%

.block-pane-invert
	padding: 15px
	background: #666
	color: #fff

.block-pane-bordered
	padding: 15px
	border: 1px solid #ccc

.block-action
	margin-top: 15px
	padding-top: 15px
	border-top: 1px dotted #ccc
	text-align: right

	ul
		display: inline-block

		li
			display: inline
			margin: 0 15px
			padding-left: 10px

			a
				@extend .link

.block-document
	height: 100px
	overflow: auto
	margin-bottom: 15px
	padding: 15px
	background: #eee
	line-height: 120%

	h4
		margin-bottom: 15px
		font:
			weight: bold
			size: 1.3em
		text-transform: uppercase

	h5
		margin: 15px 0
		font:
			weight: bold
			size: 1.1em

	p
		margin: 0.5em 0
		font-size: 1em

	ul
		margin: 0.5em 0 0.5em 15px
		font-size: 1em

		li
			margin: 0.5em 0
			list-style: inside disc

.block-quote
	margin: 15px 0
	padding: 10px 0
	border: 1px solid $color-custom-3
	border:
		left: none
		right: none
	color: $color-custom-3
	font:
		style: italic
		size: 1.3em
	text-align: center

.block-scroll
	height: 100px
	overflow: auto
	padding: 15px
	background: #eee

.block-stamp
	+border-radius(100px)
	+box-sizing(border-box)

	width: 200px
	height: 200px
	margin: 0 auto
	background:
		color: #ddd
		position: 50% 50%
		repeat: no-repeat

.block-message
	+border-radius(100px)
	+box-sizing(border-box)

	width: 150px
	height: 150px
	margin: 0 auto
	padding: 75px 15px 15px
	border-bottom: 1px solid #ccc
	background:
		color: #fff
		position: 50% 25px
		repeat: no-repeat
	color: #888
	font-size: 0.9em
	line-height: 130%
	text-align: center

	a
		@extend .link

.block-icon
	+border-radius(3px)

	height: 270px
	background: #fff
	padding: 15px
	text-align: center

	.image
		color: $color-custom-3

		.icon
			font-size: 45px

	.title
		margin-top: 15px
		color: $color-custom-1
		font:
			weight: bold
			size: 1em
		line-height: 120%

	.description
		margin-top: 15px
		color: $color-custom-2
		font-size: 0.8em
		line-height: 130%

.block-icon-rounded
	text-align: center

	.image
		$size: 100px
		+border-radius(100px)

		width: $size
		height: $size
		margin: 0 auto
		background: $color-custom-2
		color: #fff

		.icon
			font-size: 60px
			line-height: $size

	.title
		margin-top: 15px
		color: $color-custom-2
		font:
			weight: bold
			size: 1.2em
		letter-spacing: -1px
		line-height: 130%

	.description
		margin-top: 15px
		font-size: 0.8em
		line-height: 130%

.block-compact-center
	width: 50%
	margin: 0 auto

.block-notice
	font:
		weight: 300
		size: 1.3em
		family: $font-custom-1
	line-height: 160%

.block-index-horizontal
	h5
		$size: 40px
		+border-radius($size)

		display: block
		height: $size
		width: $size
		float: left
		margin-right: 10px
		border: 2px solid #fff
		color: #fff
		font-size: 20px
		line-height: $size
		text-align: center

	p
		display: block
		padding-top: 5px
		color: #fff
		font-weight: bold
		font-size: 1.2em
		line-height: 120%

