.global-header
	z-index: 901
	width: 100%
	position: fixed
	left: 0
	top: 0
	background: $color-custom-3

	.global-header-container
		@extend .clearfix

		width: $main-width
		position: relative
		margin: 0 auto
		padding: 15px

	h1
		a
			+replace-text-with-dimensions("logo-nivelsuperior.png")

			display: block
			float: left

	.session
		float: right

		.off
			form
				fieldset
					border: 1px solid #fff
					padding: 10px

				legend
					padding: 0 5px
					color: $color-custom-4
					font:
						weight: bold
						size: 1.3em
					letter-spacing: 2px
					text-transform: uppercase

				input
					@extend .field-text

					width: 170px
					float: left
					margin-right: 5px

				button
					+basis-button($color-custom-4)

					float: left

				ul
					clear: both
					display: block
					padding: 5px 95px 0 0
					font:
						weight: bold
						size: 0.9em
					text-align: right

					li
						margin-left: 10px
						color: $color-custom-2

						a
							+transition(all 0.1s)

							color: $color-custom-1
							text-decoration: none

							&:hover
								color: lighten($color-custom-1, 10%)

		.on
			margin-top: 30px

			ul
				li
					display: inline-block
					position: relative
					margin-left: 5px

					a
						&.active
							background: $color-custom-2

					ul
						+box-sizing(border-box)

						display: none
						width: 100%
						position: absolute
						right: 0
						top: 100%
						padding: 10px
						background: $color-custom-2

						li
							display: block
							margin: 0

							&.divider
								margin: 5px 0
								border-top: 1px solid rgba(255, 255, 255, 0.3)

							a
								display: block
								padding: 5px 15px
								color: #fff
								font:
									weight: bold
									size: 1em
								line-height: 130%
								text-decoration: none

								&:hover
									background: $color-custom-4

.global-nav
	z-index: 900
	width: 100%
	position: fixed
	left: 0
	top: 124px
	background: $color-custom-1

	ul
		width: $main-width
		position: relative
		margin: 0 auto
		text-align: center

		li
			display: inline-block

			a
				+transition(color 0.1s)

				display: inline-block
				padding: 10px 30px
				color: #fff
				font:
					weight: 600
					size: 1.2em
				letter-spacing: 2px
				text:
					transform: uppercase
					decoration: none

				&:hover
					color: $color-custom-3

			&.on,
			&:hover
				a
					background: image-url("nav-arrow.png") 50% 0 no-repeat
					color: $color-custom-3

.global-footer
	@extend .clearfix

	z-index: 1
	width: $main-width
	position: relative
	margin: 30px auto

	.links
		position: absolute
		left: 0
		top: 30px
		text-align: center

		a
			+transition(all 0.1s)

			color: #000
			font-weight: bold
			text-decoration: none

			&:hover
				color: $color-custom-1

		h4
			font-size: 1.2em

		.social
			margin-top: 10px

			li
				display: inline
				margin: 0 5px
				font-size: 0.9em

				a
					&:before
						@extend .icon

						margin-right: 5px
						font-size: 15px

						&:hover
							background: $color-custom-1

			.facebook
				a
					&:before
						content: '\f231'

			.instagram
				a
					&:before
						content: '\f350'

			.youtube
				a
					&:before
						content: '\f24c'

	.logo-nivelsuperior
		+replace-text-with-dimensions("logo-nivelsuperior-2.png")

		display: block
		float: right

.global-content
	z-index: 1
	position: relative
	margin-top: 158px
	background: #fff

	.section-content
		min-height: 500px

		.section-content-container
			width: $main-width
			position: relative
			margin: 0 auto
			padding: 30px 0

		header
			@extend .clearfix

			margin-bottom: 30px

			h2
				color: $color-custom-1
				font:
					weight: normal
					size: 3.5em
				letter-spacing: -1px
				text-transform: uppercase

	#home
		height: 814px
		background: $color-custom-3 image-url("home-bg.jpg") 50% 0 no-repeat

	#cadastro
		background: #eee image-url("cadastro-bg.jpg") 50% 0 repeat-y

	#regulamento
		background: $color-custom-4 image-url("regulamento-bg.jpg") 50% 0 repeat-y
		color: #fff

		header
			h2
				color: #fff
				text-align: center

	#vencedor
		background: $color-custom-3 image-url("vencedor-bg.jpg") 50% 0 no-repeat
		text-align: right

		.winner
			width: 630px
			float: right
			color: darken($color-custom-3, 30%)
			font:
				weight: bold
				size: 3.7em
			line-height: 130%

			[data-flipclock]
				width: 530px
				right: -10px
				float: right
				margin-top: 30px

