.slider
	$height: 400px

	height: $height
	overflow: hidden
	position: relative
	margin-bottom: 30px

	.container
		height: $height
		overflow: hidden
		position: relative

		.item
			width: 100%
			height: $height
			float: left
			background:
				position: 50% 50%
				repeat: no-repeat

			a
				display: block
				height: $height

	.nav
		a
			@extend .icon

			position: absolute
			top: 50%
			width: 50px
			height: 50px
			margin-top: -25px
			color: $color-custom-1
			font-size: 40px
			line-height: 50px
			text:
				align: center
				decoration: none

			&:hover
				border-color: #fff
				color: $color-custom-1

			&.prev
				left: 15px

				&:before
					content: '\f2ca'

			&.next
				right: 15px

				&:before
					content: '\f30f'

	.index
		width: 100%
		position: absolute
		left: 0
		bottom: 10px
		text-align: center

		a
			+border-radius(50px)

			display: inline-block
			width: 15px
			height: 15px
			margin: 0 5px
			background: rgba(255, 255, 255, 0.3)
			text:
				indent: -9999px
				decoration: none

			&.selected
				background: $color-custom-1
